  <div class="jumbotron">
    <div class="container">
      <h2>Welcome to HTML&CSS section!</h2>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    </div>
  </div>

  <div class="container">
  <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
      <h3>1. HTML5</h3>
      <p>In this section you will learn the basics of HTML5.</p>
      <p><a class="btn btn-info"  href="#problem-one" role="button">View details »</a></p>
      </div>
    <div class="col-md-4">
      <h3>2. CSS</h3>
      <p>In this section you will learn the basics of CSS3</p>
      <p> <a class="btn btn-info" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h3>3. HTML-Tables</h3>
      <p>Here you will learn how to create HTML-tables.</p>
      <p><a class="btn btn-info" href="#" role="button">View details »</a></p>
    </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      <h3>4. CSS-Presentation</h3>
      <p>In this section you will learn the basics of HTML5.</p>
      <p><a class="btn btn-info"  href="#" role="button">View details »</a></p>
      </div>
    <div class="col-md-4">
      <h3>5. HTML-Forms</h3>
      <p>In this section you will learn the basics of CSS3</p>
      <p><a class="btn btn-info" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h3>6. CSS-Layout-and-Positioning</h3>
      <p>Here you will learn how to create HTML-tables.</p>
      <p><a class="btn btn-info" href="#" role="button">View details »</a></p>
    </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      <h3>7. Semantic-HTML-and-Other-Tags</h3>
      <p>In this section you will learn the basics of HTML5.</p>
      <p><a class="btn btn-info"  href="#" role="button">View details »</a></p>
      </div>
    <div class="col-md-4">
      <h3>8. Responsive-and-Bootstrap</h3>
      <p>In this section you will learn the basics of CSS3</p>
      <p><a class="btn btn-info" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h3>10. SASS-CSS-Transformations</h3>
      <p>Here you will learn how to create HTML-tables.</p>
      <p><a class="btn btn-info" href="#" role="button">View details »</a></p>
    </div>
    </div>

  <hr>

  <footer>
  <p>© WebMastering 2014</p>
  </footer>
  </div>




