#page {
	margin-top: 80px;
}

body{
	background-color: #b2b2b2;
}

.face, .nose, .left-eye, .right-eye, .right-pupil, .left-pupil{
	border-radius: 50%;
	border: 2px solid black;
}

.face{
	background-color: yellow;
	width: 500px;
	margin: 0 auto;
	position: relative;
}

.nose{
	background-color: red;
	margin: 200px;
	height: 70px;
}

.left-eye{
	position: absolute;
	height: 100px;
	width: 100px;
	left: 100px;
	top: 100px;
	background-color: #fff;
}

.left-pupil{
	width: 20px;
	height: 20px;
	float: right;
	background-color: black;
	margin-right: 10px;
	margin-top: 50px;
}

.right-eye{
	position: absolute;
	height: 100px;
	width: 100px;
	left: 300px;
	top: 100px;
	background-color: #fff;
}

.right-pupil{
	width: 20px;
	height: 20px;
	float: left;
	background-color: black;
}


.mouth{
	position: absolute;
	background-color: #fff;
	width: 300px;
	height: 100px;
	border: 2px solid black;
	border-radius: 50px;
	top: 60%;
	left: 20%;
}

.left-tooth{
	float: left;
	width: 30px;
	height: 40px;
	border: 2px solid black;
	border-top: 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-left: 115px;
}

.right-tooth{
	float: right;
	width: 30px;
	height: 40px;
	border: 2px solid black;
	border-top: 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right: 115px;
}

.clear{
	clear: both;
}

.tongue{
	background-color: #FFB9B9;
	width: 80%;
	height: 300px;
	margin: 5px auto;
	border: 2px solid black;
	border-top: 0;
	border-bottom-right-radius: 150px;
	border-bottom-left-radius: 150px;
	display: none;
}

.inner{
	height: 80%;
	background-color: black;
	width: 2px;
	margin: 0 auto;
}

button{
	width: 30%;
	height: 50px;
	background-color: #BE0105;
	font-size: 32px;
	color: #fff;
	font-family: Open-sans, Arial, sans-serif;
}
